<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>

<br />

<%= simple_form_for :pokemon do |f| %>
  Pokemon Name: <%= f.input :name %>
  <%= f.button :submit %>
<% end %>